<h2><?php echo $this->title; ?></h2>
<div id="admin-reporting">
<?php echo $this->content; ?>
</div>
<div id="results" style="display:none;"></div>
<script type="text/javascript">
    
    $('#totalName').click( function() {
        if($('#totalDetails').css('visibility')=='visible')
        {
            $('#totalDetails').attr('style','visibility:hidden;display:none;');
        } else {
            $('#totalDetails').attr('style','visibility:visible;display:block;');
        }
        return false;
    });

    $('.openClient').click( function() {
       
       var id = $(this).attr('id');
       var elementID = 'detailsClientId' + id;
       
        if($('#' + elementID).css('visibility')=='visible')
        {
            $('#' + elementID).attr('style','visibility:hidden;display:none;');
        } else {
            $('#' + elementID).attr('style','visibility:visible;display:block;');
        }
       return false;
    });

    $('.openCategory').click( function() {
       
       var id = $(this).attr('id');
       var elementID = 'detailsCategoryId' + id;
       
        if($('#' + elementID).css('visibility')=='visible')
        {
            $('#' + elementID).attr('style','visibility:hidden;display:none;');
        } else {
            $('#' + elementID).attr('style','visibility:visible;display:block;');
        }
       return false;
    });




    // FUNCTIONS FOR HANDLING EXPORT LINK
    var fromDate = '<?php echo $this->fromDate; ?>';
    var toDate = '<?php echo $this->toDate; ?>';
    
    <?php if(isset($this->employeeID) && is_numeric($this->employeeID)) {   ?>
    var employeeID = <?php echo $this->employeeID; ?>;
    <?php } ?>
        
    var baseURI = '<?php echo $this->baseURI; ?>';
    
    $('#fromDate').change(function() {
        fromDate = $('#fromDate').val();
        <?php if(isset($this->employeeID) && is_numeric($this->employeeID)) {   ?>
            $('#export').attr('href', baseURI + '/reporting/export/?employee=' + employeeID + '&fromDate=' + fromDate + '&toDate=' + toDate);
        <?php } else { ?>
            $('#export').attr('href', baseURI + '/reporting/export/?fromDate=' + fromDate + '&toDate=' + toDate);
        <?php } ?>
    });
    
    $('#toDate').change(function() {
        toDate = $('#toDate').val();
        <?php if(isset($this->employeeID) && is_numeric($this->employeeID)) {   ?>
            $('#export').attr('href', baseURI + '/reporting/export/?employee=' + employeeID + '&fromDate=' + fromDate + '&toDate=' + toDate);
        <?php } else { ?>
            $('#export').attr('href', baseURI + '/reporting/export/?fromDate=' + fromDate + '&toDate=' + toDate);
        <?php } ?>
    });
    
    $('#EmployeeID').change(function() {
        
        <?php if(isset($this->employeeID) && is_numeric($this->employeeID)) {   ?>
        employeeID = $('#EmployeeID').val();
        <?php } else { ?>
        var employeeID = $('#EmployeeID').val();
        <?php } ?>
        
        $('#export').attr('href', baseURI + '/reporting/export/?employee=' + employeeID + '&fromDate=' + fromDate + '&toDate=' + toDate);
    });

</script>