img {border:0px}
h1 {margin-top:20px;font-size:2em;}

.admin-navigation-options a:link {}
.admin-navigation-options a:hover {background-color:#fff;}

a{background:#fff; color:#000; text-decoration:none;}
a:hover{background-color:#fff; color:#666; text-decoration:underline;} 

.timesheet-entries-table .first #col6 {width:90px}
.timesheet-entries-table #col6 input {float:right;}

#time-sheet-form {position:relative;}
#time-sheet-form #submit-element {
    padding:0px;border:0px;margin:0px;
    float: right;    
}
