body {margin:50px;}

#loginWrapper {
    margin:auto;
    margin-top: 50px;
    width:350px;
    height: 300px;
    border:1px solid #000;
    text-align:center;
}
#loginWrapper dd {margin:0px;}
#loginWrapper #username-element,
#loginWrapper #password-element
{
    margin: 5px 0 10px 0;
}


#admin-index a
{
    display:block;
    width:125px;
    padding:5px 0px 5px 10px;
    border:1px solid #000;
    margin:auto;
    text-decoration: none;    
    margin-bottom:4px;
}
#admin-index a:link, #admin-index a:visited { color: #000; }
#admin-index a:hover { text-decoration: none; background-color:#c6c6c6;}

#errors-messages {margin:20px 0 20px 0; padding:10px; color:#4C4B4B; background-color:#ffd0d0; border:1px solid #d01010;}
#errors-messages a {background: transparent;}

#messages {margin:20px 0 20px 0; padding:10px; color:#4C4B4B; background-color:#d4e2ff; border:1px solid #556bff;}
#messages a {background: transparent;}


/* General Form Styles */
.create-edit-form {margin: auto; padding: 10px 50px 20px 50px; border:1px solid #c9c9c9;margin-bottom:50px;}
.create-edit-form dt { min-width:100px; display:inline; }
.create-edit-form dd { width:200px; display:inline; }
.create-edit-form .zend_form { position:relative; }
.create-edit-form dd, 
.create-edit-form dt, 
.create-edit-form dd ul.errors,
.create-edit-form dd ul.errors li { padding:0px; margin:0px; position:absolute; list-style:none; }


/* Styles for changing / resetting password */
#change-password-form {height:200px;width:360px;}
#change-password-form #currentPassword-label   {top:0px; left:0px;}
#change-password-form #currentPassword-element {top:0px; left:175px;}
#change-password-form #newPass-label   {top:30px; left:0px;}
#change-password-form #newPass-element {top:30px;left:175px;}
#change-password-form #newPassRepeat-label   {top:60px; left:0px;}
#change-password-form #newPassRepeat-element {top:60px; left:175px;}
#change-password-form #submit-element {top:90px; left:175px;}
#change-password-form #submit-element input {width:100px;}
#change-password-form #messages {margin-top:150px;}


/* Styles for creating / editing clients */
#admin-create-client {width: 340px; min-height: 200px;}
#admin-create-client #messages {margin-top:150px;}
#admin-edit-client {width: 340px; min-height: 200px;}
#admin-edit-client #messages {margin-top:150px;}
.create-edit-form .client { width: 300px; }
.create-edit-form .client #clientName-label   {top:0px; left:0px;}
.create-edit-form .client #clientName-element {top:0px; left:75px;}
.create-edit-form .client #clientCity-label   {top:30px; left:0px;}
.create-edit-form .client #clientCity-element {top:30px; left:75px;}
.create-edit-form .client #clientState-label   {top:60px; left:0px;}
.create-edit-form .client #clientState-element {top:60px; left:75px;}
.create-edit-form .client #clientCreateSubmit-element {top:90px;left:75px;}
.create-edit-form .client #messages {margin-top:150px;}
.create-edit-form .client input#clientName {width:220px;}


/* Styles for creating / editing tasks */
#admin-create-task {width: 340px; min-height: 200px;}
#admin-create-task #messages {margin-top:150px;}
#admin-edit-task {width: 340px; min-height: 200px;}
#admin-edit-task #messages {margin-top:150px;}
.create-edit-form .task { width: 300px; }
.create-edit-form .task #taskName-label   {top:0px; left:0px;}
.create-edit-form .task #taskName-element {top:0px; left:100px;}
.create-edit-form .task #taskDescription-label   {top:30px; left:0px;}
.create-edit-form .task #taskDescription-element {top:30px; left:100px;}
.create-edit-form .task #taskCreateSubmit-element {top:60px;left:100px;}
.create-edit-form .task #messages {margin-top:150px;}
.create-edit-form .task input#clientName {width:220px;}


/* Styles for creating / editing categories */
#admin-create-category-prompt-all {text-align:center;margin-bottom:20px;}
#admin-create-category {width: 340px; min-height: 200px;}
#admin-create-category #messages {margin-top:150px;}
#admin-edit-category {width: 340px; min-height: 200px;}
#admin-edit-category #messages {margin-top:150px;}
.create-edit-form .category { width: 300px; }
.create-edit-form .category #categoryForClient-label   {top:0px; left:0px;}
.create-edit-form .category #categoryForClient-element {top:0px; left:100px;}
.create-edit-form .category #categoryName-label   {top:30px; left:0px;}
.create-edit-form .category #categoryName-element {top:30px; left:100px;}
.create-edit-form .category #categoryDescription-label   {top:60px; left:0px;}
.create-edit-form .category #categoryDescription-element {top:60px; left:100px;}
.create-edit-form .category #categoryCreateSubmit-element {top:90px;left:100px;}
.create-edit-form .category #messages {margin-top:150px;}
.create-edit-form .category input#clientName {width:220px;}

#admin-create-category-for-all-clients {width: 340px; min-height: 200px;}
#admin-create-category-for-all-clients #messages {margin-top:150px;}
.create-edit-form .category { width: 300px; }
.create-edit-form .category #categoryForClient-label   {top:0px; left:0px;}
.create-edit-form .category #categoryForClient-element {top:0px; left:100px;}
.create-edit-form .category #categoryName-label   {top:30px; left:0px;}
.create-edit-form .category #categoryName-element {top:30px; left:100px;}
.create-edit-form .category #categoryDescription-label   {top:60px; left:0px;}
.create-edit-form .category #categoryDescription-element {top:60px; left:100px;}
.create-edit-form .category #categoryCreateSubmit-element {top:90px;left:100px;}
.create-edit-form .category #messages {margin-top:150px;}
.create-edit-form .category input#clientName {width:220px;}


/* Styles for creating / editing employees */
#admin-create-employee {width: 340px; min-height: 300px;}
#admin-create-employee #messages {margin-top:250px;}
#admin-edit-employee {width: 340px; min-height: 300px;}
#admin-edit-employee #messages {margin-top:250px;}
.create-edit-form .employee #name-label   {top:0px; left:0px;}
.create-edit-form .employee #name-element {top:0px; left:100px;}
.create-edit-form .employee #department-label   {top:30px; left:0px;}
.create-edit-form .employee #department-element {top:30px; left:100px;}
.create-edit-form .employee #username-label   {top:60px; left:0px;}
.create-edit-form .employee #username-element {top:60px; left:100px;}
.create-edit-form .employee #password-label   {top:90px; left:0px;}
.create-edit-form .employee #password-element {top:90px; left:100px;}
.create-edit-form .employee #isactive-label   {top:120px; left:0px;}
.create-edit-form .employee #isactive-element {top:120px; left:100px;}
.create-edit-form .employee #isreporter-label   {top:150px; left:0px;}
.create-edit-form .employee #isreporter-element {top:150px; left:100px;}
.create-edit-form .employee #isadmin-label   {top:180px; left:0px;}
.create-edit-form .employee #isadmin-element {top:180px; left:100px;}
.create-edit-form .employee #submit-element {top:210px; left: 100px;}
.create-edit-form .employee #id-label {top:0px; left:0px;}
.create-edit-form .employee #id-element {top:0px; left:150px;}
.create-edit-form .employee #employeeSelectSsubmit-element {top:30px;left:150px;}


/* Styles for creating / editing departments */
#admin-create-department {width: 360px; min-height: 120px;}
#admin-create-department #messages {margin-top:100px;}
#admin-edit-department {width: 360px; min-height: 120px;}
#admin-edit-department #messages {margin-top:100px;}
.create-edit-form .department {width: 360px; }
.create-edit-form .department #departmentName-label   {top:0px; left:0px;}
.create-edit-form .department #departmentName-element {top:0px; left:150px;}
.create-edit-form .department input#departmentName {width:200px;}
.create-edit-form .department #departmentCreateSubmit-element {top:30px;left:150px;}
.create-edit-form .department #messages {margin-top:100px;}





.employee-table {width:100%;border:1px solid #c9c7c8;margin:auto;border-top:1px solid #c9c7c8;}
.employee-table tr:hover {color:#D40036}
.employee-table td {padding-left:10px;}
.employee-table #col1,
.employee-table #col2,
.employee-table #col3,
.employee-table #col4 {text-align:center;padding:0px;}

.employee-table tr.first {background-color:#F2F2F2;font-weight:bold;}
.employee-table tr.first td {padding-top:8px;padding-bottom:8px;}
.employee-table tr.first #col1 {width:25px;}
.employee-table tr.first #col2 {width:25px;}
.employee-table tr.first #col3 {width:25px;}
.employee-table tr.first #col4 {width:25px;}
.employee-table tr.first:hover {color:#666666;}

.employee-table div.addMe {}
.employee-table div.addMe a { display:block;height:20px;width:20px;background:url(../images/addMe.png) no-repeat;margin: auto;}
.employee-table div.addMe a:hover {background:url(../images/addMe_bold.png) no-repeat;}
.employee-table div.addMe a.active {background:url(../images/addMe_bold.png) no-repeat;}

.employee-table div.removeMe {}
.employee-table div.removeMe a { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
.employee-table div.removeMe a:hover {background:url(../images/removeMe_bold.png) no-repeat;}
.employee-table div.removeMe a.active {background:url(../images/removeMe_bold.png) no-repeat;}


.category-table {width:100%;border:1px solid #c9c7c8;margin:auto;border-top:1px solid #c9c7c8;}
.category-table tr:hover {color:#D40036}
.category-table td {padding-left:10px;}
.category-table #col1,
.category-table #col2,
.category-table #col3 {text-align:center;padding:0px;}

.category-table tr.first {background-color:#F2F2F2;font-weight:bold;}
.category-table tr.first td {padding-top:8px;padding-bottom:8px;}
.category-table tr.first #col1 {width:25px;}
.category-table tr.first #col2 {width:25px;}
.category-table tr.first #col3 {width:25px;}
.category-table tr.first:hover {color:#666666;}

.task-table {width:100%;border:1px solid #c9c7c8;margin:auto;border-top:1px solid #c9c7c8;}
.task-table tr:hover {color:#D40036}
.task-table td {padding-left:10px;}
.task-table #col1,
.task-table #col2,
.task-table #col3 {text-align:center;padding:0px;}

.task-table tr.first {background-color:#F2F2F2;font-weight:bold;}
.task-table tr.first td {padding-top:8px;padding-bottom:8px;}
.task-table tr.first #col1 {width:25px;}
.task-table tr.first #col2 {width:25px;}
.task-table tr.first #col3 {width:25px;}
.task-table tr.first:hover {color:#666666;}

.task-table div.addMe {}
.task-table div.addMe a { display:block;height:20px;width:20px;background:url(../images/addMe.png) no-repeat;margin: auto;}
.task-table div.addMe a:hover {background:url(../images/addMe_bold.png) no-repeat;}
.task-table div.addMe a.active {background:url(../images/addMe_bold.png) no-repeat;}

.task-table div.removeMe {}
.task-table div.removeMe a { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
.task-table div.removeMe a:hover {background:url(../images/removeMe_bold.png) no-repeat;}
.task-table div.removeMe a.active {background:url(../images/removeMe_bold.png) no-repeat;}
.task-table div.removeMeDisabled { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
.task-table div.removeMe a.disabled:hover {background:url(../images/removeMe.png) no-repeat;}



.administration-details-table {width:100%;border:1px solid #c9c7c8;margin:auto;border-top:1px solid #c9c7c8;}

.administration-details-table tr.first {background-color:#F2F2F2;font-weight:bold;}

.administration-details-table td {padding: 0 0 0 8px;}
.administration-details-table tr.first td {padding: 8px 8px 8px 8px;}

.administration-details-table td.icon {width:25px;padding:0px;}
.administration-details-table tr.first td.icon {width:25px;padding:0px;}

.administration-details-table tr:hover {color:#D40036}
.administration-details-table tr.first:hover {color:#666666;}

.administration-details-table img {border:0px;}







/* for the timesheet data entry page: /timesheet/new-entry/ */

/* Styles for creating / editing timesheet entries */
.timesheet-create-edit-wrapper {margin:0px;padding:0px;border:0px;}
.timesheet-create-edit-wrapper .filter {
    background-color:#f2f2f2;
    height:40px;
    color:#666;
    font-weight:bold;
    position:relative;
    margin-bottom:10px;
}
.timesheet-create-edit-wrapper .filter #date-form {width:250px;float:left;margin: 8px 0 0 385px;}
.timesheet-create-edit-wrapper .filter #date-form form {padding:0px;margin:0px;}
.timesheet-create-edit-wrapper .filter form label {font-weight:normal;}
.timesheet-create-edit-wrapper #totalHours {float:right;margin:10px 10px 0 0;}



#time-sheet-edit-form {height:325px;width:360px;}
#time-sheet-edit-form .zend_form select {width:250px;}
#time-sheet-edit-form #date-label   {top:0px; left:0px;}
#time-sheet-edit-form #date-element {top:0px; left:75px;}
#time-sheet-edit-form #client-label   {top:30px; left:0px;}
#time-sheet-edit-form #client-element {top:30px; left:75px;}
#time-sheet-edit-form #category-label   {top:60px; left:0px;}
#time-sheet-edit-form #category-element {top:60px;left:75px;}
#time-sheet-edit-form #task-label   {top:90px; left:0px;}
#time-sheet-edit-form #task-element {top:90px; left:75px;}
#time-sheet-edit-form #duration-label   {top:120px; left:0px;}
#time-sheet-edit-form #duration-element {top:120px; left:75px;}
#time-sheet-edit-form #duration-element select {width:100px;}
#time-sheet-edit-form #comments-label   {top:150px; left:0px;}
#time-sheet-edit-form #comments-element {top:150px; left:75px;}
#time-sheet-edit-form #comments-element textarea {width:250px;height:80px;}
#time-sheet-edit-form #submit-element {top:245px; left:75px;}
#time-sheet-edit-form #submit-element input {width:100px;}
#time-sheet-edit-form #messages {margin-top:300px;}

.timesheet-entries-table {width:100%;padding:0px;margin:auto;margin-bottom:0px;border:1px solid #c9c7c8;}
.timesheet-entries-table tr {border:0px;margin:0px;padding:0px;}
.timesheet-entries-table tr td {border:0px;margin:0px;padding:0px;}
.timesheet-entries-table tr td table {border:0px;margin:0px;padding:0px;}
.timesheet-entries-table tr td table tr {border:0px;margin:0px;padding:0px;}
.timesheet-entries-table tr td table tr td {border:0px;margin:0px;padding:0px;}
.timesheet-entries-table .first {background-color:#e5e4e8;padding:10px;}
.timesheet-entries-table .first td {padding-left:10px;}
.timesheet-entries-table .first #col1 {width:200px;text-align:left;}
.timesheet-entries-table .first #col2 {width:150px;}
.timesheet-entries-table .first #col3 {width:150px;}
.timesheet-entries-table .first #col4 {width:75px;}
.timesheet-entries-table .first #col5 {width:260px;}
.timesheet-entries-table tr td#container {padding:0px;border:0px;margin:0px;}

.timesheet-entries-table {margin-bottom:20px;}
.timesheet-entries-table .single-entry-edit {position:relative;height:20px;}
.timesheet-entries-table .single-entry-edit:hover {background-color:#f2f2f2;}
.timesheet-entries-table .single-entry-edit input {border:0px;background-color:transparent;}
.timesheet-entries-table .single-entry-edit select {border:0px;background-color:transparent;}
.timesheet-entries-table .single-entry-edit input[type=text]{height:14px;}
.timesheet-entries-table .single-entry-edit .client {position:absolute;top:0px;left:0px;width:210px;}
.timesheet-entries-table .single-entry-edit .client select {width:210px;padding-left:10px;}
.timesheet-entries-table .single-entry-edit .category {position:absolute;top:0px;left:212px;width:160px;}
.timesheet-entries-table .single-entry-edit .category select {width:160px;}
.timesheet-entries-table .single-entry-edit .task {position:absolute;top:0px;left:374px;width:160px;}
.timesheet-entries-table .single-entry-edit .task select {width:160px;}
.timesheet-entries-table .single-entry-edit .duration {position:absolute;top:0px;left:536px;width:81px;}
.timesheet-entries-table .single-entry-edit .duration select {width:85px;}
.timesheet-entries-table .single-entry-edit .duration input {width:74px;padding-left:10px;}
.timesheet-entries-table .single-entry-edit .comments {position:absolute;top:0px;left:623px;width:266px;}
.timesheet-entries-table .single-entry-edit .comments input {padding-left:10px; width:252px;}
.timesheet-entries-table .single-entry-edit .submit {position:absolute;top:0px;left:895px;width:100px;}
.timesheet-entries-table .single-entry-edit .submit input#update {position:absolute;top:0px;left:10px;}
.timesheet-entries-table .single-entry-edit .submit a.delete {position:absolute;top:0px;left:50px;}


#time-sheet-form {min-height:50px; width:100%;position:relative;}
#time-sheet-form #client-label   {display:none;}
#time-sheet-form #client-element {float:left;padding:0px;margin:0px;width:214px;}
#time-sheet-form #client-element select {width:214px;height:22px;}
#time-sheet-form #category-label   {display:none;}
#time-sheet-form #category-element {float:left;padding:0px;margin:0 0 0 5px;width:157px;}
#time-sheet-form #category-element select {width:157px;height:22px;}
#time-sheet-form #task-label   {display:none;}
#time-sheet-form #task-element {float:left;padding:0px;margin:0 0 0 5px;width:157px;}
#time-sheet-form #task-element select {width:157px;height:22px;}
#time-sheet-form #date-label {display:none;}
#time-sheet-form #date-element {display:none;}
#time-sheet-form #duration-label   {display:none;}
#time-sheet-form #duration-element {float:left;padding:0px;margin:0 0 0 5px;width:80px;}
#time-sheet-form #duration-element input {width:75px;}
#time-sheet-form #duration-element select {width:83px;height:22px;}
#time-sheet-form #comments-label   {display:none;}
#time-sheet-form #comments-element {float:left;padding:0px;margin:0 0 0 5px;width:270px;}
#time-sheet-form #comments-element input {width:270px;}
#time-sheet-form #createEdit-label {display:none;}
#time-sheet-form #createEdit-element {display:none;}
#time-sheet-form #submit-label {display:none;}
#time-sheet-form #submit-element {float:left;padding:0px;margin: -2px 0 0 12px;width:75px;}
#time-sheet-form #submit-element input {width:75px;}
.timesheet-create-edit-wrapper #messages {margin-bottom:50px;}


.timesheet-table         {width:100%;padding:0px;margin:auto;margin-bottom:50px;border:1px solid #c9c7c8;}
.timesheet-table tr:hover {color:#D40036}
.timesheet-table #col1 {width:25px;text-align:center;}

.timesheet-table tr.first {background-color:#F2F2F2;font-weight:bold;}
.timesheet-table tr.first td {padding-top:8px;padding-bottom:8px;}
.timesheet-table tr.first #col1 {width:25px;}
.timesheet-table tr.first #col2 {width:25px;}
.timesheet-table tr.first #col3 {width:25px;}
.timesheet-table tr.first:hover {color:#666666;}


#admin-reporting {position:relative;margin-bottom:50px;}
#admin-reporting .filter {
    background-color:#f2f2f2;
    height: 40px;
    color:#666;
    position:relative;
    margin-bottom:10px;
}
#admin-reporting .filter #filter-form1 {width:900px;float:left;margin:8px 0 0 0;}
#admin-reporting .filter #filter-form1 form {padding:0px;margin:0 0 0 10px;display:inline;}
#admin-reporting .filter #filter-form1 label#forEmployeeID {margin-left:20px;}
#admin-reporting .filter #filter-form1 a#export {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    background:transparent url(../images/excel.ico) top left no-repeat;
    padding-left:20px;
}









#admin-reporting .wrapper {
   position:relative; 
}
#admin-reporting .wrapper .summary {
    height:25px;
    position:relative;
}

#admin-reporting .wrapper .summary .name {
    position:absolute;
    top:3px;
    left:10px;
}
#admin-reporting .wrapper .summary .hours {
    position:absolute;
    top:3px;
    right:10px;
}

#admin-reporting .details {
    min-height:50px;
    border-left:1px dashed #b2b2b2;
    margin: 20px 0px 20px 50px;
    display:none;visibility:hidden;
}

#detailsClientId1 {}

#admin-reporting {}
#admin-reporting .filtering .title {display:inline;margin-right:30px;font-weight:bold;}
#admin-reporting .filtering form {display:inline;}
#admin-reporting .filtering {
    border:1px solid #C9C7C8;
    margin-bottom:10px;
    padding: 15px 10px 15px 10px;
}
#admin-reporting form #clientSelect-label {margin-right:10px;}
#admin-reporting form #clientSelect {margin-right:20px;}
#admin-reporting form #categorySelect-label {margin-right:10px;}
#admin-reporting form #categorySelect {margin-right:20px;}
#admin-reporting form #taskSelect-label {margin-right:10px;}
#admin-reporting form #taskSelect {margin-right:20px;}
#admin-reporting form #employeeSelect-label {margin-right:10px;}
#admin-reporting form #employeeSelect {margin-right:20px;}


.admin-navigation-options {float:right;margin-top:-2px;background-color:#DDDDDD;min-width:100px;}
.admin-navigation-options a {
    float:right;
    padding: 2px 4px 4px;
    margin:0 0 0 10px;
    background:transparent;
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* width: 76px; */
}
.admin-navigation-options #title {float:right;padding-top:2px;}

/* --------------------------------------------------------- */
/* TRYING SOME STYLES                                        */
/* --------------------------------------------------------- */

.greetingWrapper {
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    padding: 2px 0;
    background-color:#f2f2f2;
}
.greeting {
    float:left;
    padding-left:10px;
    background-color:transparent;
}

#bodyPan h2 {margin:20px;text-align:center;}

/* CSS Document */
body{padding:0px; margin:0px; background:url(../images/mainbg.gif) 0 0 repeat-x #fff; color:#666; font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;}
div, p, ul, h2, img{padding:0px; margin:0px;}
ul{list-style-type:none;}
a{background:#fff; color:#000; text-decoration:none;}
a:hover{background-color:#fff; color:#666; text-decoration:underline;} 

/*----TOP PANEL----*/
#topPan{width:1000px; height:87px; position:relative; margin:0 auto;}
#topPan #ImgPan{width:229px; height:52px; background:#fff; color:#666; position:absolute; top:24px; left:0px; padding:0 0 0 0px;}
#topPan #ImgPan img{width:201px; height:52px;}


#topPan ul{/*width:468px;*/ height:32px; position:absolute; top:43px; right:0px;}
#topPan ul li{height:32px; float:left;}
#topPan ul li a{width:76px; height:32px; display:block; background:url(../images/topmenu-normal.jpg) 0 0 no-repeat #F5F4F4; color:#666; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px; margin:0 2px 0 0;}
#topPan ul li a:hover{background:url(../images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none;}

#topPan ul li.home{background:url(../images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none; font-size:12px; font-weight:bold; text-align:center; line-height:32px;}
#topPan ul li a:hover{background:url(../images/topmenu-hover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none;}
#topPan ul li a.add-update-entries{width:150px; background:url(../images/topmenu-add-update-entries-normal.jpg) 0 0 no-repeat #F5F4F4;}
#topPan ul li a.add-update-entries:hover {background:url(../images/topmenu-add-update-entries-hover.jpg) 0 0 no-repeat #F5F4F4;}
#topPan ul li a.view-entries {width:96px; background:url(../images/topmenu-view-entries-normal.jpg) 0 0 no-repeat #F5F4F4;}
#topPan ul li a.view-entries:hover {background:url(../images/topmenu-view-entries-hover.jpg) 0 0 no-repeat #F5F4F4;}



/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyPan{width:1000px; position:relative; margin:0 auto;min-height:400px;padding-bottom:20px;}
#bodyPan p.toptextpadding{padding:25px 0 0;}
#bodyPan p span{background:#fff; color:#D20039;}
#bodyPan p.more{width:81px; height:22px; display:block; margin:0 0 0 606px; background:url(../images/more-bg.gif) 0 0 no-repeat;}
#bodyPan p.more a{width:70px; height:22px; display:block; background:url(../images/arrow1.gif) 1% 60% no-repeat; line-height:22px; text-decoration:none; padding:0 0 0 11px;}
#bodyPan p.more a:hover{background:url(../images/arrow2.gif) 1% 60% no-repeat; text-decoration:none;}

/*----Footer Panel----*/
#footermainPan{background:url(../images/footerbg.gif) 0 0 repeat-x #F4F4F4; color:#212121; position:relative; margin:0 auto; height:133px; clear:both;}
#footerPan{width:1000px; position:relative; margin:0 auto; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:normal; padding:15px 0 0;}

#footerPan ul{width:450px; height:20px; position:relative; margin:0 auto;}
#footerPan li{float:left; }
#footerPan ul li a{padding:0 10px 0; color:#212121; background:#F4F4F4; text-decoration:none;}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan ul.templateworld{width:190px; background:#F4F4F4; color:#212121; display:block; position:relative; margin:0 auto; }
#footerPan ul.templateworld li{height:20px;}
#footerPan ul.templateworld li a{background:#F4F4F4; display:block; color:#212121; text-decoration:none; padding:0px;}
#footerPan ul.templateworld li a:hover{text-decoration:underline;}

#footerPan p.copyright{width:250px; background:#F4F4F4; color:#212121; position:relative; margin:0 auto;}

#footerPanhtml{width:64px; height:19px; display:block; position:absolute; top:73px; left:270px;}
#footerPanhtml a{width:59px; height:18px; background:#fff; color:#6A6A6A; border:1px solid #B6B6B6; display:block; position:absolute; top:0px; left:0px; line-height:19px; text-align:center; font-weight:bold; text-transform:uppercase; text-decoration:none;}
#footerPanhtml a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}

#footerPancss{width:64px; height:19px; display:block; position:absolute; top:73px; left:336px;}
#footerPancss a{width:49px; height:18px; background:#fff; border:1px solid #B6B6B6; color:#6A6A6A; display:block; position:absolute; top:0px; left:0px;line-height:19px; text-transform:uppercase; font-weight:bold; text-align:center; text-decoration:none;}
#footerPancss a:hover{background:#D2D0D0; color:#353427; text-decoration:none;}



.createNew {background: url("../images/createNew.jpg") no-repeat scroll 0 0 #F5F4F4;
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 2px 0 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding-left:15px; }

.createNew:hover{background:url(../images/createNewHover.jpg) 0 0 no-repeat #F5F4F4; color:#fff; text-decoration:none;}
#table-wrapper {margin-bottom:20px;}

.timesheet-history .filter {
    background-color:#f2f2f2;
    height:40px;
    color:#666;
    position:relative;
    margin-bottom:10px;
}
.timesheet-history .filter #filter-form {width:750px;float:left;margin: 8px 0 0 0px;}
.timesheet-history .filter #filter-form form {padding:0px;margin:0px;}
.timesheet-history .filter #filter-form label#forEmployeeID {margin-left:20px;}
.timesheet-history #totalHours {float:right;margin:10px 10px 0 0;}

#employee-assign {margin-top:20px;}
#employee-assign .section {width:280px;height:200px;padding:10px;margin:5px;float:left;border:1px solid #C9C7C8;}
#employee-assign p {margin:10px 0 20px 0;}
#employee-assign select {width:280px;}


.administration-details-table div.addMe {}
.administration-details-table div.addMe a { display:block;height:20px;width:20px;background:url(../images/addMe.png) no-repeat;margin: auto;}
.administration-details-table div.addMe a:hover {background:url(../images/addMe_bold.png) no-repeat;}
.administration-details-table div.addMe a.active {background:url(../images/addMe_bold.png) no-repeat;}

.administration-details-table div.removeMe {}
.administration-details-table div.removeMe a { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
.administration-details-table div.removeMe a:hover {background:url(../images/removeMe_bold.png) no-repeat;}
.administration-details-table div.removeMe a.active {background:url(../images/removeMe_bold.png) no-repeat;}
.administration-details-table div.removeMeDisabled { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}


.category-table div.addMe {}
.category-table div.addMe a { display:block;height:20px;width:20px;background:url(../images/addMe.png) no-repeat;margin: auto;}
.category-table div.addMe a:hover {background:url(../images/addMe_bold.png) no-repeat;}
.category-table div.addMe a.active {background:url(../images/addMe_bold.png) no-repeat;}

.category-table div.removeMe {}
.category-table div.removeMe a { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
.category-table div.removeMe a:hover {background:url(../images/removeMe_bold.png) no-repeat;}
.category-table div.removeMe a.active {background:url(../images/removeMe_bold.png) no-repeat;}
.category-table div.removeMeDisabled { display:block;height:20px;width:20px;background:url(../images/removeMe.png) no-repeat;margin: auto;}
