
<div id="loginWrapper">
    <div id="loginTitle">
        <h1><?php echo $this->title; ?></h1>
    </div>
    <div id="loginForm">
            <?php echo $this->form ?>
    </div>
</div>
<?php
if(isset($this->errors) && count($this->errors) > 0) {
    echo '<div id="errors-messages">';
    foreach ($this->errors as $error) echo $error;
    echo '</div>';
}
if(isset($this->messages) && count($this->messages) > 0) {
    echo '<div id="messages">';
    foreach ($this->messages as $message) echo $message;
    echo '</div>';
}
?>