<h2><?php echo $this->title; ?></h2>

<div class="timesheet-create-edit-wrapper">
   <?php echo $this->dayViewEditForm; ?>
    
    <div id="time-sheet-form">
    <?php if(isset($this->EmployeeName)) { ?>
    <p><strong>Note:</strong> <u>You are editing another employee's time entry.</u><br></p>
    <p><strong>Employee: <?php echo $this->EmployeeName; ?></strong></p>
    <?php } ?>
    <?php echo $this->form; ?>
    </div>
</div>
<?php
if(isset($this->errors) && count($this->errors) > 0) {
    echo '<div id="errors-messages">';
    foreach ($this->errors as $error) echo $error;
    echo '</div>';
}
if(isset($this->messages) && count($this->messages) > 0) {
    echo '<div id="messages">';
    foreach ($this->messages as $message) echo $message;
    echo '</div>';
}
?>
 

<script type="text/javascript">

var clientID = '';
var catID = '';
var myCCT = <?php echo Zend_Json::encode($this->CTT); ?>;


// WHEN DATE CHANGED, AUTO REFRESH PAGE WITH DATE AS URI PARAMETER
$('#date').change( function() {
    window.open ('?date=' + $('#date').val(),'_self',false)
});

// FUNCTIONS FOR CREATING NEW TIMESHEET ENTRY  
$('#client').change( function() {
    clientID = $('#client').val();
    if( $(myCCT.clients[clientID].categories).length < 1)
    {
        selectHTML = '<option value="">No categories</option>';              
    } else {
        selectHTML = '<option value="">Select Category...</option>';
        $.each(myCCT.clients[clientID].categories, function(index, value){
            selectHTML = selectHTML + '<option value="' + index + '">' + value['name'] + '</option>';
        });
    }      
    $('#category').html(selectHTML);
    $('#task').html('<option value="">Select Task...</option>');
});

$('#category').change( function() {
    catID = $('#category').val();
    selectHTML = '';
    if( $(myCCT.clients[clientID].categories[catID].tasks).length < 1)
    {
        selectHTML = '<option value="">No tasks avaialble</option>';
    } else {
        selectHTML = '<option value="">Select Task...</option>';
        $.each(myCCT.clients[clientID].categories[catID].tasks, function(index, value){
            selectHTML = selectHTML + '<option value="' + index + '">' + value['name'] + '</option>';
        });
    }
    $('#task').html(selectHTML);
});  

// FUNCTIONS FOR EDITING EXISTING TIMESHEET ENTRY
$('.editClient').change( function() {
    var rowID = this.getAttribute('id').replace("row-", "").replace("-client","");
    var clientID = $('#row-' + rowID + '-client').val()
    selectHTML = '';
    if( $(myCCT.clients[clientID].categories).length < 1)
    {
        selectHTML = '<option value="">No categories</option>';              
    } else {
        selectHTML = selectHTML + '<option value="">Select Category...</option>';
        $.each(myCCT.clients[clientID].categories, function(index, value){
            selectHTML = selectHTML + '<option value="' + index + '">' + value['name'] + '</option>';
        });
    }
    $('#row-' + rowID + '-category').html(selectHTML);
    $('#row-' + rowID + '-task').html('<option value="">Select Task...</option>');
});
  
$('.editCategory').change( function() {
    var rowID = this.getAttribute('id').replace("row-", "").replace("-category","");
    var clientID = $('#row-' + rowID + '-client').val()
    var catID = $('#row-' + rowID + '-category').val();
    selectHTML = '';
    if( $(myCCT.clients[clientID].categories[catID].tasks).length < 1)
    {
        selectHTML = '<option value="">No tasks avaialble</option>';
    } else {
        selectHTML = '<option value="">Select Task...</option>';
        $.each(myCCT.clients[clientID].categories[catID].tasks, function(index, value){
            selectHTML = selectHTML + '<option value="' + index + '">' + value['name'] + '</option>';
        });
    }
    $('#row-' + rowID + '-task').html(selectHTML);
});  
  
</script>
