<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="noindex" />
<?php echo $this->headTitle() . "\r\n"; ?>
<?php 

    $baseURI = $front = Zend_Controller_Front::getInstance()->getBaseUrl();

    // Link external stylesheets
    $this->headLink()
        ->prependStylesheet($baseURI . '/css/main.css', 'all')
        ->prependStylesheet($baseURI . '/css/main_ie.css', 'all', 'IE')
        ->prependStylesheet($baseURI . '/js/jquery/css/redmond/jquery-ui-1.8.17.custom.css', 'all');
    echo $this->headLink();

    $this->headScript()->appendFile($baseURI . '/js/jquery/js/jquery-1.7.1.min.js');
    $this->headScript()->appendFile($baseURI . '/js/jquery/js/jquery-ui-1.8.17.custom.min.js');
    echo $this->headScript();
?>
<script type="text/javascript">
	$(function() {
		$( "#date" ).datepicker();
	});
	$(function() {
		$( "#toDate" ).datepicker();
	});
    $(function() { 
        $( "#fromDate" ).datepicker();
 	});
</script>
</head>    
    <body>
        <div id="topPan">
            <div id="ImgPan"><a href="<?php echo $baseURI; ?>"><img src="<?php echo $baseURI; ?>/images/logo.gif" title="Coporate Profiles" alt="Coporate Profiles" width="201" height="52" border="0" /></a> </div>
            <?php echo $this->AccountNavigation()->getMainTabs(); ?>
        </div>
        <div class="greetingWrapper">
            <span class="greeting">
                <?php echo $this->AccountNavigation()->getGreeting(); ?>
            </span>
            <?php echo $this->AccountNavigation()->printAdminOptions(); ?>
        </div>
        <div id="bodyPan">
            <?php echo $this->layout()->content ?>
        </div>
        <div id="footermainPan">
            <div id="footerPan">
                <div id="footer">
                    Time Tracker Tool v1.3 STABLE
                </div>
            </div>
        </div>
    </body>
</html>