<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Default Application</title>
</head>
<body>
  <h2>An error occurred</h2>
  <div style="text-align:center;">
  <h3><strong><?php echo $this->message ?></strong></h3>
  </div>

<?php
if(getenv('APPLICATION_ENV') != 'production')
{

    if (isset($this->exception))
    {
        echo '
            <h3>Exception information:</h3>
            <p>
                <b>Message:</b> '.$this->exception->getMessage().'
            </p>
            
            <h3>Stack trace:</h3>
            <pre>'.$this->exception->getTraceAsString().'</pre>
                

            <h3>Request Parameters:</h3>
            <pre>'.$this->escape(var_export($this->request->getParams(), true)).'</pre>';
    }
}
?>


</body>
</html>
