<h2><?php echo $this->title; ?></h2>
<div id="admin-create-category-prompt-all">
<a href="<?php echo $this->baseURI; ?>/admin/assign-task-by-category-name/?taskID=<?php echo $this->TaskID; ?>">
  (Assign / Unassign this task to / from  ALL Categories for ALL clients based on category name?)
</a>
</div>
<?php echo $this->introduction; ?>
<?php echo $this->listTable; ?>

<p>&nbsp;</p>
<p style="text-align:center;"><< <a href="<?php echo $this->baseURI; ?>/admin/list-tasks">Return to tasks list</a> >></p>


