<h2><?php echo $this->title; ?></h2>
<?php echo $this->introduction; ?>
<?php echo $this->listTable; ?>

<script type="text/javascript">

$('.assignMe').click(function(){ 
      var addmeID = $(this).attr('id');
      var ID = addmeID.toString().substr(5);
                    
    $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '<?php echo $this->baseURI; ?>/admin/excadd',
            async: false,
            data: { category: ID, employee: <?php echo $this->EmployeeID; ?> },
            success: function(data) {
                $('#addMe' + ID).addClass('active');
                $('#removeMe' + ID).removeClass('active');
            },
            error:function (xhr, ajaxOptions, thrownError){
                alert('Error: ' + xhr.status + ': ' + thrownError);
            } 
    });
    return false;
});


  $('.unassignMe').click( function() {

      var removemeID = $(this).attr('id');
      var ID = removemeID.toString().substr(8);

    $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '<?php echo $this->baseURI; ?>/admin/excremove',
            async: false,
            data: { category: ID, employee: <?php echo $this->EmployeeID; ?> },
            success: function(data) {
              $('#addMe' + ID).removeClass('active');
              $('#removeMe' + ID).addClass('active');
            },
            error:function (xhr, ajaxOptions, thrownError){
                alert('Error: ' + xhr.status + ': ' + thrownError);
            } 
    });
    return false;
  });
  
</script>