<h2><?php echo $this->title; ?></h2>

<div id="admin-create-category-prompt-all">
<a href="<?php echo $this->baseURI; ?>/admin/create-category-for-all-clients">
  (Create category for ALL clients?)
</a>
</div>
<?php
if(isset($this->errors) && count($this->errors) > 0) {
    echo '<div id="errors-messages">';
    foreach ($this->errors as $error) echo $error;
    echo '</div>';
}
if(isset($this->messages) && count($this->messages) > 0) {
    echo '<div id="messages">';
    foreach ($this->messages as $message) echo $message;
    echo '</div>';
}
?>
<div class="create-edit-form" id="admin-<?php echo $this->zend_action; ?>">
<?php echo $this->createForm; ?>
</div>

<p>&nbsp;</p>