<h2><?php echo $this->title; ?></h2>

<div id="admin-index">
    Welcome to the time tracker tool!  To begin, please select your are of interest from the tabs above.
</div>

<br><br>Here are some of the things you can do as an administrator in this tool: 
<ol>
    <li>Create Clients</li>
    <li>Create Categories and assign them to Clients</li>
    <li>Create Tasks and assign them to Categories</li>
    <li>Create Employees and assign them to a Department</li>
    <li>Assign Employees to Client Categories</li>
</ol>

<?php echo $this->content; ?>

